name: RAK Library Build CI

on: [pull_request, push, repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - uses: actions/checkout@v2
    - uses: actions/checkout@v2
      with:
         repository: RAKWireless/WisBlock-CI
         path: ci

    - name: pre-install
      run: bash ci/actions_install.sh

    - name: extra libraries
      run: |
        /home/runner/work/WisBlock-API/WisBlock-API/bin/arduino-cli lib install SX126x-Arduino
        git clone --quiet https://github.com/adafruit/Adafruit_Sensor
        mv Adafruit_Sensor /home/runner/Arduino/libraries/Adafruit_Sensor
        git clone --quiet https://github.com/sparkfun/SparkFun_LIS3DH_Arduino_Library
        mv SparkFun_LIS3DH_Arduino_Library /home/runner/Arduino/libraries/SparkFun_LIS3DH_Arduino_Library
        git clone --quiet https://github.com/adafruit/Adafruit_BME680
        mv Adafruit_BME680 /home/runner/Arduino/libraries/Adafruit_BME680
        git clone --quiet https://github.com/neosarchizo/TinyGPS
        mv TinyGPS /home/runner/Arduino/libraries/TinyGPS
    - name: test platforms
      run: python3 ci/build_platform.py rak4631
